<div style="color:red;background-color:black">
Diamond Light Source

<h1 style="color:red;background-color:antiquewhite"><br>Basic Questions<br></h1>  

©2000-20 Chris Seddon

http://www.keme.co.uk/~seddon-software/Python/Exercises%20(Python).pdf

## Q2.1
Write a program that inputs a 4 digit year and then calculates whether or not it is a leap year.  Test your code with the following years:
* 2021 (not a leap year)
* 2024 (is a leap year)
* 2100 (not a leap year)
* 2000 (is a leap year)

In [1]:
# Write YOUR code here

## Q2.2
Using a variation of the above program, calculate the number of days in the inclusive date range '1st January 2000' to '31st December 2999'.  You should find that there are 365243 days in the millenia.

In [2]:
# Write YOUR code here

## Q2.3
Write a program that prints out the square, cubes and fourth power of the first 20 integers.

In [3]:
# Write YOUR code here

## Q2.4
Write a program that prints out the first 20 Fibonacci numbers.  You can use the web to find out the definition 
of the Fibonacci sequence.

In [4]:
# Write YOUR code here

## Q2.5
Write a program that calculates the ratio of successive pairs of the first 200 Fibonacci numbers.  Does the ratio 
converge to a number?

In [5]:
# Write YOUR code here

## Q3.1
Write a program that prints out the sum, difference, product and dividend of two complex numbers.

In [ ]:
# Write YOUR code here

## Q3.3
Use the `range` function to generate two separate tuples containing the list of integers from 10 to 19 and from 30 to 39.  Tuples are immutable, so how can you form a new tuple containing all the elements of the other two tuples.

In [ ]:
# Write YOUR code here

## Q3.4
It is not possible to invert dictionaries in the general case, because unlike the dictionary values, keys must be unique and immutable. However the following dictionary can be
inverted:
<pre>
salaries = {
 "John" : 45000,
 "Sheila" : 48000,
 "Vivien" : 31000,
 "Roy" : 37000,
 "Ruth" : 50000
 }
</pre>
So write code to interchange the keys and values of the above.

In [ ]:
# Write YOUR code here

## Q4.1
Write a function that rotates the values of 3 variables.  
For example:
<pre>
    x = 100
    y = 200
    z = 300
    Rotate( ... )
    # x is now 200
    # y is now 300
    # z is now 100
</pre>

In [ ]:
# Write YOUR code here

## Q4.2
Write a function that rotates the values of an array.  
For example:
<pre>
array = [100, 200, 300, 400, 500]
    Rotate( ... )
    # array is now: [200, 300, 400, 500, 100]
</pre>

In [ ]:
# Write YOUR code here

## Q4.3
Write a function to calculate Factorials.  
Try out  
*    factorial(1)  
*    factorial(10)  
*    factorial(40)  
*    factorial(100)

In [ ]:
# Write YOUR code here

## Q4.4
Write a function that takes a string and capitalises the first character of the string and ensures the remaining characters are converted to lower case.  
Use the following test data:
<pre>
    UpperFirst("test1")
    UpperFirst("mIxEdCaSe")
    UpperFirst("UPPER")
    UpperFirst("lower")
    UpperFirst("oPPOSITE")
</pre>

In [ ]:
# Write YOUR code here

## Q4.5
Write a function that takes an integer array (list) as a parameter and doubles the value of each element of the array.

In [ ]:
# Write YOUR code here

## Q4.6
Write a function that takes two int arrays (of the same size) as parameters and adds the arrays together, element by element.  
Return the summed array.

In [ ]:
# Write YOUR code here

## Q5.1
Write a program that calculates the factorial of an integer in the range 2 to 10.  Add exception handling code to prevent calculating a result where the input number is larger than 10, or any negative integer.  Make sure you can handle the case where the input is not an integer.

In [ ]:
# Write YOUR code here

## Q6.1
Create a class that represents a bank account.  
Add methods to allow a customer to `deposit()` and `withdraw()` money and provide a method `getBalance()`.  
Write a test program to check out your class.

In [ ]:
# Write YOUR code here

## Q6.2
Modify the previous example to add facilities for providing an overdraft.  
You will need to define a `setOverdraft()` method.

In [ ]:
# Write YOUR code here

## Q6.3
An object starts moving at from position s0 with velocity v0 and gains a constant acceleration of a.  After time t, compute its position and velocity.  
Write a class to define the particle and provide the following methods:
<pre>
    def accelerate(self, a, t):
        # dv/dt = a
        # ds/dt = v
        # v = ∫a.dt = at + s0
        # s = ∫v.dt = ∫at.dt = at^2/2 + s0.t + v0
    
    def getPosition(self):
    
    def getVelocity(self):
</pre>
Calculate the positionand velocity of the object at time t=10.  
Perform all calculations in 3D space.  Use `numpy` to simplify the calculations.

In [ ]:
# Write YOUR code here

## Q6.4
A relativistic particle, B travels at 3/4 of the speed of light in the x direction as viewed from an observer in frame of reference A.
A second relativistic particle, C  travels at 3/4 of the speed of light in the z direction as viewed from an observer in B's frame of reference.
What is speed the of particle C as viewed from the observer in frame A.

The relativistic formulae you require can be found at:
    http://www.math.ucr.edu/home/baez/physics/Relativity/SR/velocity.html

In [ ]:
# Write YOUR code here

## Q7.1
Write a program that emulates the word count program: `wc`.
Use the file "zen.txt" as input and print out the number of characters, words and lines in this file.

In [ ]:
# Write YOUR code here

## Q7.2
Write a file copy program.

In [ ]:
# Write YOUR code here

In [ ]:
%%bash
cat data/original.txt
cat data/copy.txt

## Q7.3
The file call `data/TestData.txt` contains test data consisting of one number per line.  Your job is to read the entire file into memory and compute the sum of all the numbers.

In [ ]:
%%bash
cat data/TestData.txt

In [ ]:
# Write YOUR code here

## Q7.4
Try the previous example with the test file `data/TestData2.txt`; this file contains non integral data.  Use exception handling to filter out lines that don't contain integers.

In [ ]:
%%bash
cat data/TestData2.txt

In [ ]:
# Write YOUR code here

## Q7.5
Write a program that concatenates three files:
*    data/TestFile1.txt
*    data/TestFile2.txt
*    data/TestFile3.txt  

into a new file called:
*    data/TestFile.txt

In [ ]:
%%bash
cat data/TestFile1.txt
cat data/TestFile2.txt
cat data/TestFile3.txt

In [ ]:
# Write YOUR code here

In [ ]:
%%bash
cat data/TestFile.txt

## Q7.6
Write a program that reads a file, reverses the order of lines in the file and then saves the changes in a new file. 
Use `data/TestFile1.txt` as you test file.

In [ ]:
# Write YOUR code here

In [ ]:
%%bash
cat data/OutFile.txt